:root {
  --primary-color: #88ab94;
  --secondary-color: #90af98;
  --background-color: #faf4f2;
  --accent-color: #e8c7b3;
  --success-color: #2e9e4a;
  --error-color: #a01a1a;
  --link-color: #90af98;
  --link-click-color: #637a69;
  --white: #ffffff;
  --black: #555555;
}

body {
  font-family: Arial, sans-serif;
  color: var(--black);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

a {
  color: var(--link-color);
}

a:hover{
  color: var(--link-click-color);
  text-decoration: underline;
}

a:visited {
  color: var(--primary-color);
}

.login-error,
.register-error {
  color: var(--error-color);
  margin-top: 2%;
}

.login-success,
.register-success {
  color: var(--success-color);
  margin-top: 2%;
}

.book, .book-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 90%;
  height: 70%;
  border-radius: 1%;
  box-shadow: 1% 1% 3% rgba(0, 0, 0, 0.2); 
}

.book-register {
  height: 70%;
}

.left-page,
.right-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  position: relative;
  height: 100%;
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.login-container {
  width: 100%;
}

h2 {
  margin-bottom: 2%;
}

label {
  display: block;
  margin-bottom: 0.5%;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 2%;
  padding: 1%;
  border: 0.1% solid #ccc;
  border-radius: 0.3%;
}

button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 1% 2%;
  border: none;
  border-radius: 0.3%;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



/* Main Page Style */
.main-body {
  font-family: Arial, sans-serif;
  color: var(--black);
  background-color: var(--secondary-color);
  margin: 0;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  width: 80%;
  max-height: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
}

.main-taskbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: 100px;
  width: 100%;
  margin-bottom: 100px;
  border-radius: 20px 20px 0px 0px;
}

.main-logo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.main-taskbar .main-pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.main-taskbar .main-username {
  margin-right: 20px;
}

.main-taskbar .user-info {
  display: flex;
  align-items: center;
  margin-right: 30px;
}