:root {
  --primary-color: #88ab94;
  --secondary-color: #90af98;
  --background-color: #faf4f2;
  --accent-color: #e8c7b3;
  --success-color: #2e9e4a;
  --error-color: #a01a1a;
  --link-color: #90af98;
  --link-click-color: #637a69;
  --white: #ffffff;
  --black: #555555;
}

.login-body, .register-body, .forbidden-body {
  font-family: Arial, sans-serif;
  color: var(--black);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

a {
  color: var(--link-color);
}

a:hover{
  color: var(--link-click-color);
  text-decoration: underline;
}

a:visited {
  color: var(--primary-color);
}

.login-success,
.register-success,
.login-error,
.register-error,
.pfedit-error, 
.pfedit-success {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: var(--background-color);
}

.login-error,
.register-error,
.pfedit-error{
  background-color: var(--error-color);
}

.login-success,
.pfedit-success{
  background-color: var(--success-color);
}

.book, .book-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 90%;
  height: 70%;
  max-width: 900px;
  max-height: 500px;
  border-radius: 1%;
  box-shadow: 1% 1% 3% rgba(0, 0, 0, 0.2); 
}

.book-register {
  max-height: 700px;
  height: 70%;
}

.left-page,
.right-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  position: relative;
  height: 100%;
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.login-container {
  width: 100%;
}

h2 {
  margin-bottom: 2%;
}

input, textarea, select {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



/* Main Page Style */
.main-body {
  font-family: Arial, sans-serif;
  color: var(--black);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  margin: 0;
}

.main-body a{
  color: var(--black);
}

.main-div{
  background-color: var(--accent-color);
  border-radius: 20px;
  width: 80%;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
}

.main-taskbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}

.main-bottombar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: 100px;
  border-radius: 0px 0px 20px 20px;
}

.main-bottomtable {
  border-collapse:collapse;
  margin-right: 10%;
}

.main-bottomtable td{
  padding:2px 20px;
  word-break:normal;
}

.main-bottomtable th{
  padding:4px 20px;
  word-break:normal;
}

.main-bottomlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-height: 100px;
  border-radius: 20px;
}

.main-bottomlogo img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-left: 20px;
  width: 100%;
  max-height: 100px;
  border-radius: 20px;
}

.main-section{
  padding: 40px 100px 100px 100px;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100px;
  border-radius: 20px;
}

.main-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100px;
}

.main-pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.main-username {
  margin-right: 20px;
}

.main-taskbar .main-user-info a {
  display: flex;
  align-items: center;
  margin-right: 30px;
  text-decoration: none;
}

/* Home Style */

.home-section{
  padding: 20px;
}

.home-banner {
  width: 100%;
  background-image: url("https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 400px;
  text-align: left;
  color: var(--background-color);
}

.home-banner-content {
  background-color: rgba(136, 171, 148, 0.75);
  padding-bottom: 10px;
  width: 50%;
  padding-top: 4%;
  margin-left: 10%;
}

.home-banner-title {
  margin-left: 10%;
}

.home-banner-subtitle {
  margin-left: 10%;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
}

.home-square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.home-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;  
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
}

.home-square:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
  text-decoration: none; 
}

/* Profile Edit Style */

.pfedit-back, .notes-back {
  display: flex;
  justify-content: right;
}

.current-pfp {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
}

.pfedit-button{
  float: right;
}

.pfedit-pfp, .pfedit-userinfo, .pfedit-password{
  padding-bottom: 50px;
}