<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tomekeeper - Welcome Traveler!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body class="main-body">
    <div class="main-div">
        <div class="main-taskbar">    
            <div class="main-logo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <div class="main-user-info">
                <a href="/profile" class="profile-link">
                  <h3 class="main-username">{{ user['display_name'] }}</h3>
                  <img src="{{ user['pfp_url'] }}" class="main-pfp">
                </a>
            </div>
        </div>
        <div class="main-section">
          <div class="char-creation-info">
            <h2>Create Your D&D Character</h2>
            <form action="/create_character" method="POST" class="char-creation-form">
              <label for="characterName">Character Name:</label>
              <input type="text" id="characterName" name="character_name" required>
            
              <label for="characterRace">Race:</label>
              <select id="characterRace" name="character_race" required></select>
            
              <label for="characterClass">Class:</label>
              <select id="characterClass" name="character_class" required></select>
          
              <label for="abilityScores" class="ability-scores-label">Ability Scores:</label>
              <div class="ability-scores-container">
                <div class="ability-score-container">
                  <label for="Strength">STR:</label>
                  <input id="Strength" name="Strength" required>
                </div>
              
                <div class="ability-score-container">
                  <label for="Dexterity">DEX:</label>
                  <input id="Dexterity" name="Dexterity" required>
                </div>
              
                <div class="ability-score-container">
                  <label for="Constitution">CON:</label>
                  <input id="Constitution" name="Constitution" required>
                </div>
              
                <div class="ability-score-container">
                  <label for="Intelligence">INT:</label>
                  <input id="Intelligence" name="Intelligence" required>
                </div>
              
                <div class="ability-score-container">
                  <label for="Wisdom">WIS:</label>
                  <input id="Wisdom" name="Wisdom" required>
                </div>
              
                <div class="ability-score-container">
                  <label for="Charisma">CHA:</label>
                  <input id="Charisma" name="Charisma" required> 
                </div>
              </div>              
              <button id="generateAbilityScores" type="button">Generate Random Ability Scores</button>

              <label for="characterProficiencyBonus">Proficiency Bonus:</label>
              <input type="text" id="characterProficiencyBonus" name="character_proficiency_bonus" required disabled>

              <label for="characterHP">Hit Points (HP):</label>
              <input type="number" id="characterHP" name="character_hp" required>

              <label for="characterAC">Armor Class (AC):</label>
              <input type="number" id="characterAC" name="character_ac" required>

              <label for="characterAlignment">Alignment:</label>
              <select id="characterAlignment" name="character_alignment" required></select>

              <label for="characterSkills" class="skills-label">Skills:</label>
              <div class="skills-container">
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="AcrobaticsSelector" name="AcrobaticsSelector">
                    <label for="AcrobaticsSelector"></label>
                    <label for="Acrobatics">Acrobatics:</label>
                  </div>
                  <input id="Acrobatics" name="Acrobatics" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="AnimalHandlingSelector" name="AnimalHandlingSelector">
                    <label for="AnimalHandlingSelector"></label>
                    <label for="AnimalHandling">Animal Handling:</label>
                  </div>
                  <input id="AnimalHandling" name="AnimalHandling" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="ArcanaSelector" name="ArcanaSelector">
                    <label for="ArcanaSelector"></label>
                    <label for="Arcana">Arcana:</label>
                  </div>
                  <input id="Arcana" name="Arcana" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="AthleticsSelector" name="AthleticsSelector">
                    <label for="AthleticsSelector"></label>
                    <label for="Athletics">Athletics:</label>
                  </div>
                  <input id="Athletics" name="Athletics" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="DeceptionSelector" name="DeceptionSelector">
                    <label for="DeceptionSelector"></label>
                    <label for="Deception">Deception:</label>
                  </div>
                  <input id="Deception" name="Deception" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="HistorySelector" name="HistorySelector">
                    <label for="HistorySelector"></label>
                    <label for="History">History:</label>
                  </div>
                  <input id="History" name="History" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="InsightSelector" name="InsightSelector">
                    <label for="InsightSelector"></label>
                    <label for="Insight">Insight:</label>
                  </div>
                  <input id="Insight" name="Insight" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="IntimidationSelector" name="IntimidationSelector">
                    <label for="IntimidationSelector"></label>
                    <label for="Intimidation">Intimidation:</label>
                  </div>
                  <input id="Intimidation" name="Intimidation" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="InvestigationSelector" name="InvestigationSelector">
                    <label for="InvestigationSelector"></label>
                    <label for="Investigation">Investigation:</label>
                  </div>
                  <input id="Investigation" name="Investigation" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="MedicineSelector" name="MedicineSelector">
                    <label for="MedicineSelector"></label>
                    <label for="Medicine">Medicine:</label>
                  </div>
                  <input id="Medicine" name="Medicine" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="NatureSelector" name="NatureSelector">
                    <label for="NatureSelector"></label>
                    <label for="Nature">Nature:</label>
                  </div>
                  <input id="Nature" name="Nature" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="PerceptionSelector" name="PerceptionSelector">
                    <label for="PerceptionSelector"></label>
                    <label for="Perception">Perception:</label>
                  </div>
                  <input id="Perception" name="Perception" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="PerformanceSelector" name="PerformanceSelector">
                    <label for="PerformanceSelector"></label>
                    <label for="Performance">Performance:</label>
                  </div>
                  <input id="Performance" name="Performance" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="PersuasionSelector" name="PersuasionSelector">
                    <label for="PersuasionSelector"></label>
                    <label for="Persuasion">Persuasion:</label>
                  </div>
                  <input id="Persuasion" name="Persuasion" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="ReligionSelector" name="ReligionSelector">
                    <label for="ReligionSelector"></label>
                    <label for="Religion">Religion:</label>
                  </div>
                  <input id="Religion" name="Religion" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="SleightOfHandSelector" name="SleightOfHandSelector">
                    <label for="SleightOfHandSelector"></label>
                    <label for="SleightOfHand">Sleight of Hand:</label>
                  </div>
                  <input id="SleightOfHand" name="SleightOfHand" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="StealthSelector" name="StealthSelector">
                    <label for="StealthSelector"></label>
                    <label for="Stealth">Stealth:</label>
                  </div>
                  <input id="Stealth" name="Stealth" required disabled>
                </div>
                <div class="skill-container">
                  <div class="selector">
                    <input type="checkbox" id="SurvivalSelector" name="SurvivalSelector">
                    <label for="SurvivalSelector"></label>
                    <label for="Survival">Survival:</label>
                  </div>
                  <input id="Survival" name="Survival" required disabled>
                </div>                
              </div>

              <label for="characterLanguages">Languages:</label>
              <input type="text" id="characterLanguages" name="character_languages" required>

              <label for="characterSpells">Spells (if applicable):</label>
              <input type="text" id="characterSpells" name="character_spells">

              <label for="characterEquipment">Equipment:</label>
              <input type="text" id="characterEquipment" name="character_equipment" required>

              <label for="characterAppearance">Appearance:</label>
              <textarea id="characterAppearance" name="character_appearance" required></textarea>

              <label for="characterPersonalityTraits">Personality Traits:</label>
              <textarea id="characterPersonalityTraits" name="character_personality_traits" required></textarea>

              <label for="characterBackstory">Backstory:</label>
              <textarea id="characterBackstory" name="character_backstory" required></textarea>
              
              <button type="submit" name="createCharacter" class="main-button">Create Character</button>
          </form>
          </div>
        </div>        
        <div class="main-bottombar">    
            <div class="main-bottomlogo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <table class="main-bottomtable">
                <thead>
                  <tr>
                    <th><a href="{{ url_for('main') }}">Home</a></th>
                    <th><a href="{{ url_for('main') }}">Character</a></th>
                    <th><a href="/logout">Logout</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/profile">Profile</a></td>
                    <td><a href="/create_character">Create</a></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href="/about">About</a></td>
                    <td><a href="/manage_character">Manage</a></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const fetchClasses = axios.get('https://www.dnd5eapi.co/api/classes');
        const fetchRaces = axios.get('https://www.dnd5eapi.co/api/races');
        const fetchAlignments = axios.get('https://www.dnd5eapi.co/api/alignments');
    
        axios.all([fetchClasses, fetchRaces, fetchAlignments]).then(axios.spread((classes, races, alignments) => {
          const classSelect = document.getElementById('characterClass');
          const raceSelect = document.getElementById('characterRace');
          const alignmentSelect = document.getElementById('characterAlignment');
    
          classes.data.results.forEach(element => {
            const option = document.createElement('option');
            option.value = element.index;
            option.text = element.name;
            classSelect.add(option);
          });
    
          races.data.results.forEach(element => {
            const option = document.createElement('option');
            option.value = element.index;
            option.text = element.name;
            raceSelect.add(option);
          });
    
          alignments.data.results.forEach(element => {
            const option = document.createElement('option');
            option.value = element.index;
            option.text = element.name;
            alignmentSelect.add(option);
          });
        }));
    
        // Set constant proficiency bonus (for levels 1-4)
        const proficiencyBonus = 2;
        document.getElementById('characterProficiencyBonus').value = proficiencyBonus;
        
        // Define the mapping from skills to abilities
        const skillToAbility = {
          'Acrobatics': 'Dexterity',
          'AnimalHandling': 'Wisdom',
          'Arcana': 'Intelligence',
          'Athletics': 'Strength',
          'Deception': 'Charisma',
          'History': 'Intelligence',
          'Insight': 'Wisdom',
          'Intimidation': 'Charisma',
          'Investigation': 'Intelligence',
          'Medicine': 'Wisdom',
          'Nature': 'Intelligence',
          'Perception': 'Wisdom',
          'Performance': 'Charisma',
          'Persuasion': 'Charisma',
          'Religion': 'Intelligence',
          'SleightOfHand': 'Dexterity',
          'Stealth': 'Dexterity',
          'Survival': 'Wisdom'
        };
    
        const abilityScoreInputs = Array.from(document.getElementsByClassName('ability-score-container')).map(container => container.getElementsByTagName('input')[0]);
    
        abilityScoreInputs.forEach(input => {
          input.addEventListener('input', function() {
            // Calculate HP
            let constitutionScore = parseInt(document.getElementById('Constitution').value) || 0;
            let baseHP = 10 + constitutionScore; 
            document.getElementById('characterHP').value = baseHP;
    
            // Calculate AC
            let dexterityScore = parseInt(document.getElementById('Dexterity').value) || 0;
            let baseAC = 10 + Math.floor((dexterityScore - 10) / 2); 
            document.getElementById('characterAC').value = baseAC;

            // Trigger 'change' event on all skill selectors that are tied to this ability to update skill scores
            for (let skill in skillToAbility) {
              if (skillToAbility[skill] === input.id) {
                const event = new Event('change', { bubbles: true });
                document.getElementById(skill + 'Selector').dispatchEvent(event);
              }
            }
          });
        });
    
        // Add event listeners for each skill when the page loads
        for (let skill in skillToAbility) {
          document.getElementById(skill + 'Selector').addEventListener('change', function () {
            let abilityScore = parseInt(document.getElementById(skillToAbility[skill]).value) || 0;
            let skillScore = Math.floor((abilityScore - 10) / 2); // Calculate the ability modifier
    
            // Apply the proficiency bonus if the checkbox is checked
            if (document.getElementById(skill + 'Selector').checked) {
              skillScore += proficiencyBonus;
            }
    
            document.getElementById(skill).value = skillScore;
          });
        }
    
        document.getElementById('generateAbilityScores').addEventListener('click', function() {
          // Generate six ability scores
          var abilityScores = [];
          for (var i = 0; i < 6; i++) {
            var diceRolls = [];
            // Roll four 6-sided dice
            for (var j = 0; j < 4; j++) {
              diceRolls.push(Math.floor(Math.random() * 6) + 1);
            }
            // Sort the dice rolls in descending order
            diceRolls.sort(function(a, b) {
              return b - a;
            });
            // Record the total of the highest three dice
            var score = diceRolls[0] + diceRolls[1] + diceRolls[2];
            abilityScores.push(score);
          }
    
          // Update the input fields with the generated ability scores
          document.getElementById('Strength').value = abilityScores[0];
          document.getElementById('Dexterity').value = abilityScores[1];
          document.getElementById('Constitution').value = abilityScores[2];
          document.getElementById('Intelligence').value = abilityScores[3];
          document.getElementById('Wisdom').value = abilityScores[4];
          document.getElementById('Charisma').value = abilityScores[5];
          
          // Trigger 'input' event on all ability score inputs to update HP and AC
          abilityScoreInputs.forEach(input => {
            const event = new Event('input', { bubbles: true });
            input.dispatchEvent(event);
          });
    
          // Trigger 'change' event on all skill selectors to update skill scores
          for (let skill in skillToAbility) {
            const event = new Event('change', { bubbles: true });
            document.getElementById(skill + 'Selector').dispatchEvent(event);
          }
        });
      });
    </script>
      
</body>
</html>
