<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Tomekeeper - Welcome Traveler!</title>
</head>

<body class="main-body">
  <div class="main-div">
    <div class="main-taskbar">
      <div class="main-logo">
        <a href="{{ url_for('main') }}">
          <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
        </a>
      </div>
      <div class="main-user-info">
        <a href="/profile" class="profile-link">
          <h3 class="main-username">{{ user['display_name'] }}</h3>
          <img src="{{ user['pfp_url'] }}" class="main-pfp">
        </a>
      </div>
    </div>
    <div class="main-section">
      <a href="{{ url_for('main') }}" class="character-back">Go Back</a>
      <div class="character-taskbar">
        <a href="{{ url_for('character_edit', character_id=character['character_id']) }}">Edit</a>
        <p>|</p>
        <a href="{{ url_for('character_equipment', character_id=character['character_id']) }}">Equipment</a>
        <p>|</p>
        <a href="{{ url_for('character_spells', character_id=character['character_id']) }}">Spells</a>
        <p>|</p>
        <a href="{{ url_for('character_relationships', character_id=character['character_id']) }}">Relationships</a>
        <p>|</p>
        <a href="{{ url_for('character_party', character_id=character['character_id']) }}">Party</a>
      </div>         
      <div class="character-container">
        <div class="character-top">
          <div class="character_img">
            <img src="{{ character['character_img'] }}" alt="{{ character['character_name'] }}">
            <form action="{{ url_for('upload_image', character_id=character['character_id']) }}" method="post" enctype="multipart/form-data">
              <input type="file" name="character_image">
              <button type="submit">Upload New Image</button>
            </form>                              
          </div> 

          <div class="character-info">
            <h2>{{ character['character_name'] }}</h2>
            <p><strong>Race:</strong> {{ character['character_race'] }}</p>
            <p><strong>Class:</strong> {{ character['character_class'] }}</p>
            <table>
              <thead>
                <tr>
                  {% for ability, score in character['ability_scores'].items() %}
                  <th>{{ ability[:3] }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for ability, score in character['ability_scores'].items() %}
                  <td>{{ score }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            <p><strong>Proficiency Bonus:</strong> {{ character['character_proficiency_bonus'] }}</p>
            <p><strong>Hit Points:</strong> {{ character['character_hp'] }}</p>
            <p><strong>Armor Class:</strong> {{ character['character_ac'] }}</p>
            <p><strong>Alignment:</strong> {{ character['character_alignment'] }}</p>
            <p><strong>Languages:</strong> {{ character['character_languages']|join(', ') }}</p>
          </div>
        </div>

        <div class="character-bottom">
          <div class="character-skills">
            <h3>Skills</h3>
            <table>
              <thead>
                <tr>
                  <th>Skill</th>
                  <th>Modifier</th>
                </tr>
              </thead>
              <tbody>
                {% for skill, value in character['character_skills'].items() %}
                <tr>
                  <td>{{ skill }}</td>
                  <td>{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="character-extra">
            <h3>Spells</h3>
            <p>{{ character['character_spells']|join(', ') }}</p>

            <h3>Equipment</h3>
            <p>{{ character['character_equipment']|join(', ') }}</p>

            <h3>Appearance</h3>
            <p>{{ character['character_appearance'] }}</p>

            <h3>Personality Traits</h3>
            <p>{{ character['character_personality_traits'] }}</p>

            <h3>Backstory</h3>
            <p>{{ character['character_backstory'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="main-bottombar">
      <div class="main-bottomlogo">
        <a href="{{ url_for('main') }}">
          <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
        </a>
      </div>
      <table class="main-bottomtable">
        <thead>
          <tr>
            <th><a href="{{ url_for('main') }}">Home</a></th>
            <th><a href="{{ url_for('main') }}">Character</a></th>
            <th><a href="/logout">Logout</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/profile">Profile</a></td>
            <td><a href="/character_creation">Create</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="/about">About</a></td>
            <td><a href="/character_selection">Selection</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>