<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tomekeeper - Welcome Traveler!</title>
</head>
<body class="main-body">
    <div class="main-div">
        <div class="main-taskbar">    
            <div class="main-logo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <div class="main-user-info">
                <a href="/profile" class="profile-link">
                  <h3 class="main-username">{{ user['display_name'] }}</h3>
                  <img src="{{ user['pfp_url'] }}" class="main-pfp">
                </a>
            </div>
        </div>
        <div class="main-section">
          <div class="char-creation-info">
            <h2>Create Your D&D Character</h2>
            <form action="/create_character" method="POST" class="char-creation-form">
                <label for="characterName">Character Name:</label>
                <input type="text" id="characterName" name="character_name" required>
          
                <label for="characterClass">Character Class:</label>
                <select id="characterClass" name="character_class" required>
                  {% for class in classes %}
                      <option value="{{ class.index }}">{{ class.name }}</option>
                  {% endfor %}
                </select>         
                <label for="characterRace">Character Race:</label>
                <select id="characterRace" name="character_race" required>
                  {% for race in races %}
                      <option value="{{ race.index }}">{{ race.name }}</option>
                  {% endfor %}
                </select>
          
                <label for="characterAlignment">Character Alignment:</label>
                <select id="characterAlignment" name="character_alignment" required>
                    <option value="">--Please choose an option--</option>
                    <option value="LG">Lawful Good</option>
                    <option value="NG">Neutral Good</option>
                    <option value="CG">Chaotic Good</option>
                    <option value="LN">Lawful Neutral</option>
                    <option value="N">Neutral</option>
                    <option value="CN">Chaotic Neutral</option>
                    <option value="LE">Lawful Evil</option>
                    <option value="NE">Neutral Evil</option>
                    <option value="CE">Chaotic Evil</option>
                </select>
          
                <label for="characterBackground">Character Background:</label>
                <textarea id="characterBackground" name="character_background" required></textarea>
          
                <button type="submit" name="createCharacter" class="main-button">Create Character</button>
            </form>
          </div>
        </div>        
        <div class="main-bottombar">    
            <div class="main-bottomlogo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <table class="main-bottomtable">
                <thead>
                  <tr>
                    <th><a href="{{ url_for('main') }}">Home</a></th>
                    <th><a href="{{ url_for('main') }}">Character</a></th>
                    <th><a href="/logout">Logout</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/profile">Profile</a></td>
                    <td><a href="/create_character">Create</a></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href="/about">About</a></td>
                    <td><a href="/manage_character">Manage</a></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
