<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tomekeeper - Welcome Traveler!</title>
</head>
<body class="main-body">
    <div class="main-div">
        <div class="main-taskbar">    
            <div class="main-logo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <div class="main-user-info">
                <a href="/profile" class="profile-link">
                  <h3 class="main-username">{{ user['display_name'] }}</h3>
                  <img src="{{ user['pfp_url'] }}" class="main-pfp">
                </a>
            </div>
        </div>
        <div class="main-section">      <a href="{{ url_for('main') }}" class="character-back">Go Back</a>
          <div class="character-taskbar">
            <a href="{{ url_for('character_edit', character_id=character['character_id']) }}">Edit</a>
            <p>|</p>
            <a href="{{ url_for('character_equipment', character_id=character['character_id']) }}">Equipment</a>
            <p>|</p>
            <a href="{{ url_for('character_spells', character_id=character['character_id']) }}">Spells</a>
            <p>|</p>
            <a href="{{ url_for('character_relationships', character_id=character['character_id']) }}">Relationships</a>
            <p>|</p>
            <a href="{{ url_for('character_party', character_id=character['character_id']) }}">Party</a>
            <p>|</p>
            <a href="{{ url_for('character_level_up', character_id=character['character_id']) }}">Level Up</a>
          </div>
          
          <div class="character-container">
            <div>
              <h2>Add Characters to your Party</h2>
              <h3>Current Party</h3>
              <ul>
                {% for members in character['character_party'] %}
                <li>{{ members }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h3>Search for Characters</h3>
              <form action="{{ url_for('search_characters', character_id=character['character_id']) }}" method="POST">
                <label for="searchTerm">Name: </label>
                <input type="text" id="searchTerm" name="search_term">
                <button type="submit">Search</button>
              </form>
          
              {% if search_results %}
              <h3>Search Results:</h3>
              <ul>
                {% for result in search_results %}
                <li>{{ result['character_name'] }} <a
                    href="{{ url_for('add_to_party', character_id=character['character_id'], member_id=result['character_id']) }}">Add
                    to Party</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>

        </div>        
        <div class="main-bottombar">    
            <div class="main-bottomlogo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <table class="main-bottomtable">
                <thead>
                  <tr>
                    <th><a href="{{ url_for('main') }}">Home</a></th>
                    <th><a href="{{ url_for('main') }}">Character</a></th>
                    <th><a href="/logout">Logout</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/profile">Profile</a></td>
                    <td><a href="/character_creation">Create</a></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href="/about">About</a></td>
                    <td><a href="/character_selection">Selection</a></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
