<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <title>Tomekeeper - Welcome Traveler!</title>
</head>
<body class="main-body">
    <div class="main-div">
        <div class="main-taskbar">    
            <div class="main-logo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <div class="main-user-info">
                <a href="/profile" class="profile-link">
                  <h3 class="main-username">{{ user['display_name'] }}</h3>
                  <img src="{{ user['pfp_url'] }}" class="main-pfp">
                </a>
            </div>
        </div>
        <div class="main-section">      <a href="{{ url_for('main') }}" class="character-back">Go Back</a>
          <div class="character-taskbar">
            <a href="{{ url_for('character_edit', character_id=character['character_id']) }}">Edit</a>
            <p>|</p>
            <a href="{{ url_for('character_equipment', character_id=character['character_id']) }}">Equipment</a>
            <p>|</p>
            <a href="{{ url_for('character_spells', character_id=character['character_id']) }}">Spells</a>
            <p>|</p>
            <a href="{{ url_for('character_relationships', character_id=character['character_id']) }}">Relationships</a>
            <p>|</p>
            <a href="{{ url_for('character_party', character_id=character['character_id']) }}">Party</a>
            <p>|</p>
            <a href="{{ url_for('character_level_up', character_id=character['character_id']) }}">Level Up</a>
          </div>          
          <div class="character-container">
            <div>
              <h2>Manage Equipment</h2>
              <h3>Current Equipment for {{ character['character_name'] }}</h3>
            </div>
            <form>
              <div class="selectionbox-container">
                <section class="selectionbox-section">
                  <div class="selectionbox-div">
                    <label for="availableEquipment">Available Equipment:</label>
                    <select id="availableEquipment" size="5" multiple></select>
                  </div>
                  <div class="selectionbox-buttons">
                    <input type="button" id="btnAddEquip" value="&gt;&gt;" />
                    <input type="button" id="btnRemoveEquip" value="&lt;&lt;" />
                  </div>
                  <div class="selectionbox-div">
                    <label for="selectedEquipment">Current Equipment:</label>
                    <select id="selectedEquipment" name="selectedEquipment" size="5" multiple>
                      {% for equipment in character['character_equipment'] %}
                      <option value="{{ equipment }}">{{ equipment }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </section>
              </div>          
              <button type="submit" name="createCharacter" class="main-button">Update Equipment</button>
            </form>
          </div>

        </div>        
        <div class="main-bottombar">    
            <div class="main-bottomlogo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <table class="main-bottomtable">
                <thead>
                  <tr>
                    <th><a href="{{ url_for('main') }}">Home</a></th>
                    <th><a href="{{ url_for('main') }}">Character</a></th>
                    <th><a href="/logout">Logout</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/profile">Profile</a></td>
                    <td><a href="/character_creation">Create</a></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href="/about">About</a></td>
                    <td><a href="/character_selection">Selection</a></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Fetch equipment
        axios.get('https://www.dnd5eapi.co/api/equipment').then(response => {
          const availableEquipmentSelect = document.getElementById('availableEquipment');
          response.data.results.forEach(equipment => {
            const option = document.createElement('option');
            option.value = equipment.index;
            option.text = equipment.name;
            availableEquipmentSelect.add(option);
          });
        });
    
        // Button functionality equipment
        $("#btnAddEquip").click(function () {
          var selectedEquipment = $("#availableEquipment option:selected");
          $("#currentEquipment").append(selectedEquipment);
        });
    
        $("#btnRemoveEquip").click(function () {
          var removedEquipment = $("#currentEquipment option:selected");
          $("#availableEquipment").append(removedEquipment);
        });
      });
    </script>
    
</body>
</html>
