<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tomekeeper - Login Page</title>
</head>
<body>
    <div class="book">
        <div class="left-page">
            <div class="logo-container">
                <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo" class="logo">
            </div>
        </div>
        <div class="right-page">
            <div class="login-container">
                <h2>Login</h2>
                {% if error_message %}
                <p class="login-error">{{ error_message }}</p>
                {% endif %}
                {% if success_message %}
                <p class="login-success">{{ success_message }}</p>
                {% endif %}
                <form>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account yet? <a href="/register">Register here.</a></p>
            </div>
        </div>
    </div>
</body>
</html>
