<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tomekeeper - Welcome Traveler!</title>
</head>
<body class="main-body">
    <div class="main-div">
        <div class="main-taskbar">    
            <div class="main-logo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <div class="main-user-info">
                <a href="/profile" class="profile-link">
                  <h3 class="main-username">{{ user['display_name'] }}</h3>
                  <img src="{{ user['pfp_url'] }}" class="main-pfp">
                </a>
            </div>
        </div>
        <div class="home-section">
            <div class="home-banner">
                <div class="home-banner-content">
                    <h1 class="home-banner-title">Welcome Traveller</h1>
                    <h2 class="home-banner-subtitle">How can we help today?</h2>
                </div>
            </div>            
            <div class="home-square-container">
                <a href="/character_creation" class="home-square">
                    <h3 class="home-square-title">CREATE CHARACTER</h3>
                </a>
                <a href="/character_selection" class="home-square">
                    <h3 class="home-square-title">MANAGE CHARACTER</h3>
                </a>
                <a href="/notes" class="home-square">
                    <h3 class="home-square-title">ADVENTURING NOTES</h3>
                </a>
            </div>
        </div>       
        <div class="main-bottombar">    
            <div class="main-bottomlogo">
                <a href="{{ url_for('main') }}">
                    <img src="https://dnd-app-bucket.s3.ap-southeast-2.amazonaws.com/site-images/tomekeeper_close.png" alt="Logo">
                </a>
            </div>
            <table class="main-bottomtable">
                <thead>
                  <tr>
                    <th><a href="{{ url_for('main') }}">Home</a></th>
                    <th><a href="{{ url_for('main') }}">Character</a></th>
                    <th><a href="/logout">Logout</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/profile">Profile</a></td>
                    <td><a href="/character_creation">Create</a></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href="/about">About</a></td>
                    <td><a href="/character_selection">Selection</a></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
